<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
        <title>Node Server</title>
    </head>
    <body>
        <h1>Bem Vindos!</h1>
        <div class="menu-nav">
            <a class="menu-nav-item" href="/">Home </a>
            <a class="menu-nav-item" href="/livros/form">Cadastrar </a>
            <a class="menu-nav-item" href="/livros">Listar</a>
        </div>

    </body>
</html>