<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>
    <body>
    <h1>Cadastro de Livros</h1>
        <div class="menu-nav">
            <a class="menu-nav-item" href="/">Home </a>
            <a class="menu-nav-item" href="/livros/form">Cadastrar </a>
            <a class="menu-nav-item" href="/livros">Listar</a>
        </div>
        <form action="/livros" method="POST">
            $ console.log(data.livro);
            <div if(data.livro.id)>
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" id="id" name="id" value="${data.livro.id}">
            </div>

            <div>
                <label for="titulo">Titulo:</label>
                <input type="text" id="titulo" name="titulo" value="${data.livro.titulo}" placeholder="Titulo do Livro">
            </div>
            <div>
                <label for="preco">Preço:</label>
                <input type="text" id="preco" name="preco" value="${data.livro.preco}" placeholder="00,00">
            </div>
            <div>
                <label for="descricao">Descrição:</label>
                <textarea cols="20" id="descricao" name="descricao" placeholder="Descrição do Livro">${data.livro.descricao}</textarea>
            </div>
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>